{% extends "base.html" %}

{% block title %}
    <title>{{ stock }}</title>
{% endblock %}

{% block content %}
<h1 class="text-center mb-0">{{ stock[1] }}</h1>
<p class="text-center text-secondary">{{ len }} records were found.</p>
<h4 class="mb-3">Graph Settings:</h4>
<div class="row g-3 align-items-center mb-3">
  <div class="col-auto">
    <div class="input-group">
      <label class="input-group-text">Feature</label>
      <select class="form-control form-select" aria-label="Y axis" id="yAxis">
        {% for c in columns %}
          <option>{{ c }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group">
      <label class="input-group-text">From</label>
      <input class="form-control" value="{{ from }}" type="date" id="from" min="{{ from }}" max="{{ to }}">
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group">
      <label class="input-group-text">To</label>
      <input class="form-control" value="{{ to }}" type="date" id="to" min="{{ from }}" max="{{ to }}">
    </div>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" id="DrawGraph">Draw!</button>
  </div>
</div>
<canvas id="myChart" width="400" height="400" class="py-3 mb-3"></canvas>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    const config = {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
            label: 'Feature by Date',
            data: [],
            fill: true,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }],
      },
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Chart.js Line Chart'
        }
      }
    };
    var myChart = new Chart(ctx, config);

    function draw(x, y){
      myChart.data.datasets[0].label = $('#yAxis').val() + ' by Date'
      myChart.data.labels = x
      myChart.data.datasets[0].data = y
      myChart.update();
    }

    const stock = '{{ stock }}'
    $('#DrawGraph').click(function(){
      $.ajax({
        url: "/api/s/"+stock,
        data: {
            "y": $('#yAxis').val(),
            "from": $('#from').val(),
            "to": $('#to').val()
        },
        cache: false,
        type: "GET",
        contentType: "application/json",
        dataType: 'json',
        success: function(data) {
          draw(data['x'], data['y']);
        },
        error: function(xhr) {
          alert('error:' + xhr['error'])
        }
      });
    });

    
</script>
{% endblock %}